#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu" sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/* 
=============
Style for the Button in Step 2
=============
*/
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
  transition: 0.4s linear all;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s linear all;
  transition: 0.4s linear all;
}

#button:checked + .slider {
  background-color: hsl(213, 96%, 18%);
}

#button:focus + .slider {
  box-shadow: 0 0 1px hsl(213, 96%, 18%);
}

#button:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/* 
=============
End of style for the Button in Step 2
=============
*/

/* 
=============
Style for the checked inputs in Step 2
=============
*/
#pro:checked + label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
#advanced:checked + .advanced {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
#arcade:checked + label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
/* 
=============
Style for the checked inputs in Step 3
=============
*/
#service:checked ~ label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
#storage:checked ~ label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
#profile:checked ~ label {
  background-color: hsl(231, 100%, 99%);
  border-color: hsl(213, 96%, 18%);
}
.checkbox:checked + span {
  border: hsl(213, 96%, 18%);
  background: hsl(243, 100%, 62%);
}
